<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
    </head>

<body>
    <div class="container">
        <div class="left-panel">
          <h2>Login</h2>
          <h3>Sistema de Agendamentos</h3>
        </div>
        <div class="right-panel">
          <form method="post">
            {% csrf_token %}
            
            <label for="username">NOME DE USUÁRIO</label>
            <input type="text" name="username" id="username" placeholder="Insira seu nome de usuário" required />
          
            <label for="password">SENHA</label>
            <input type="password" name="password" id="password" placeholder="Insira sua senha" required />
          
            <button type="submit" class="submit-btn">LOGAR</button>
          
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </form>
        </div>
      </div>
</body>
</html>
