<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SisAgMusic</title>
     <link rel="stylesheet" href="../static/css/tela_principal.css">
     <link rel="stylesheet" href="../static/css/tabelaagd.css">
     <link rel="stylesheet" href="../static/css/matricula.css">
     <link rel="stylesheet" href="../static/css/overlay.css">
     <link rel="stylesheet" href="../static/css/popagd.css">
</head>
<body>
    
    <div class="container">
       <div class="box">
    <p class="username">Bem vindo {{ request.user.username }}!</p>
    <button class="btn" id="agendamento" onclick="pop_agend()">Agendamento</button>
    <button class="btn" id="matricular" onclick="pop_matri()">Matricular</button>

    <form method="post" action="{% url 'logout' %}" class="logout-form">
    {% csrf_token %}
    <button type="submit" class="btn">Logout</button>
</form>

</div>


        <h1>Sistema de Agendamento</h1>

        <div class="mesano">
            <form method="GET">
                <div class="mesano">
                    <select class="slc" name="mes" onchange="this.form.submit()">
                        <option value="01" {% if mes_selecionado == '01' %}selected{% endif %}>Janeiro</option>
                        <option value="02" {% if mes_selecionado == '02' %}selected{% endif %}>Fevereiro</option>
                        <option value="03" {% if mes_selecionado == '03' %}selected{% endif %}>Março</option>
                        <option value="04" {% if mes_selecionado == '04' %}selected{% endif %}>Abril</option>
                        <option value="05" {% if mes_selecionado == '05' %}selected{% endif %}>Maio</option>
                        <option value="06" {% if mes_selecionado == '06' %}selected{% endif %}>Junho</option>
                        <option value="07" {% if mes_selecionado == '07' %}selected{% endif %}>Julho</option>
                        <option value="08" {% if mes_selecionado == '08' %}selected{% endif %}>Agosto</option>
                        <option value="09" {% if mes_selecionado == '09' %}selected{% endif %}>Setembro</option>
                        <option value="10" {% if mes_selecionado == '10' %}selected{% endif %}>Outubro</option>
                        <option value="11" {% if mes_selecionado == '11' %}selected{% endif %}>Novembro</option>
                        <option value="12" {% if mes_selecionado == '12' %}selected{% endif %}>Dezembro</option>
                    </select>       
                    <select class="slc" name="ano" onchange="this.form.submit()">
                        <option value="2025" {% if ano_selecionado == '2025' %}selected{% endif %}>2025</option>
                        <option value="2026" {% if ano_selecionado == '2026' %}selected{% endif %}>2026</option>
                        <option value="2027" {% if ano_selecionado == '2027' %}selected{% endif %}>2027</option>
                        <option value="2028" {% if ano_selecionado == '2028' %}selected{% endif %}>2028</option>
                        <option value="2029" {% if ano_selecionado == '2029' %}selected{% endif %}>2029</option>
                        <option value="2030" {% if ano_selecionado == '2030' %}selected{% endif %}>2030</option>
                        <option value="2031" {% if ano_selecionado == '2031' %}selected{% endif %}>2031</option>
                        <option value="2032" {% if ano_selecionado == '2032' %}selected{% endif %}>2032</option>
                        <option value="2033" {% if ano_selecionado == '2033' %}selected{% endif %}>2033</option>
                        <option value="2034" {% if ano_selecionado == '2034' %}selected{% endif %}>2034</option>
                        <option value="2035" {% if ano_selecionado == '2035' %}selected{% endif %}>2035</option>
                        <option value="2036" {% if ano_selecionado == '2036' %}selected{% endif %}>2036</option>
                    </select>
                </div>
            </form>
        </div>
       <div class="agd">
        <table>
            <thead>
                <tr>
                    <th>Horário</th>
                    <th>Segunda</th>
                    <th>Terça</th>
                    <th>Quarta</th>
                    <th>Quinta</th>
                    <th>Sexta</th>
                    <th>Sábado</th>
                </tr>
            </thead>
            <tbody>
                {% for hora, dias in agendamentos.items %}
                    <tr>
                        <td>{{ hora }}</td>
                        {% for dia in dias %}
                            <td>
                                {% if dia %}
                                    {{ dia.aluno.nome_completo }}<br>
                                    {{ dia.aluno.instrumento }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
       </div>
          
        
    
    <div class="overlay_agd" id="overlay_agend">
        <button class="x" onclick="close_agend()">X</button>
        <div class="container_popagd">

        <div class="pop_agd">
    
    <h2>Agendamento de Aula</h2>
<form id="formAgendamento">
<label for="nome">Nome:</label>
<input type="text" id="nomeAgendamento" required>
 
      <label for="telefone">Telefone:</label>
<input type="telefone" id="telefoneAgendamento" required>
 
      <label for="data">Data do Agendamento:</label>
<input type="date" id="dataAgendamento" required>
 
      <label for="hora">Hora:</label>
<input type="time" id="horaAgendamento" required>
 
      <button class="btnpopagd" type="submit">Agendar</button>
<div class="mensagem" id="mensagemSucessoAgendamento"></div>
</form>
</div>
</div>
    </div> 

    <div class="overlay_matri" id="pop_over">
        <div class="pop_mat">
            <button class="x" onclick="close_matri()">X</button>
            <form action= "/submit_matricula/" method="POST"> {% csrf_token %}
                <table>
                    <tr>
                        <th>Nome Completo</th>
                        <td><input type="text" name="nome_completo" required></td>
                </tr>
                <tr>
                    <th>Idade</th>
                    <td><input type="number" name="idade" required></td>
                </tr>
                <tr>
                    <th>Instrumento</th>
                    <td>
                        <select name="instrumento" required>
                            <option value="violão">Violão</option>
                            <option value="piano">Piano</option>
                            <option value="bateria">Bateria</option>
                            <option value="guitarra">Guitarra</option>
                            <option value="baixo">Baixo</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td><input type="email" name="email" required></td>
                </tr>
                <tr>
                    <th>Telefone</th>
                    <td><input type="text" name="telefone" required></td>
                </tr>
                <tr>
                    <th>Observações</th>
                    <td><textarea name="observacoes" rows="4" placeholder="Insira qualquer observação (opcional)"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="submit" value="Realizar Matrícula">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<footer>
    <p>Projeto UNIVESP - Grupo 010 Turma 001 - 2025</p>
</footer>
    <script>
        function pop_matri(){
            document.getElementById("pop_over").style.display = "block";
        }
        function close_matri(){
            document.getElementById("pop_over").style.display = "none";
        }

        function pop_agend() {
      document.getElementById("overlay_agend").style.display = "block";
    }
 
    function close_agend() {
      document.getElementById("overlay_agend").style.display = "none";
    }

    const formAgendamento = document.getElementById('formAgendamento');
const mensagemSucessoAgendamento = document.getElementById('mensagemSucessoAgendamento');

formAgendamento.addEventListener('submit', function(event) {
  event.preventDefault();
  const nome = document.getElementById('nomeAgendamento').value;
  const telefone = document.getElementById('telefoneAgendamento').value;
  const data = document.getElementById('dataAgendamento').value;
  const hora = document.getElementById('horaAgendamento').value;

  if (nome && telefone && data && hora) {
    mensagemSucessoAgendamento.textContent = `Agendamento realizado com sucesso para ${data} às ${hora}!`;
    formAgendamento.reset();
  } else {
    mensagemSucessoAgendamento.textContent = 'Por favor, preencha todos os campos.';
    mensagemSucessoAgendamento.style.color = 'red';
  }
});


    </script>

    
        
</body>
</html>