<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
    </head>

<body>
    <div class="container">
        <div class="left-panel">
          <h2>Login</h2>
          <h3>Sistema de Agendamentos</h3>
        </div>
        <div class="right-panel">
          <form>
            <label for="fullname">NOME COMPLETO</label>
            <input type="text" name='username' id="fullname" placeholder="Insira seu nome completo" />
    
            <label for="password">SENHA</label>
            <input type="password" name='password' id="password" placeholder="Insira sua senha" />
    
            <button type="submit" class="submit-btn">LOGAR</button>
          </form>
        </div>
      </div>
</body>
</html>
