* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }

  body {
    background: linear-gradient(to right, #c13366, #c13366);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
  width: 700px;
  height: 450px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f0f0f0, #c9c9c9); /* contraste maior */
  box-shadow:
    inset 0 2px 4px rgba(255, 255, 255, 0.7),
    0 20px 40px rgba(0, 0, 0, 0.4); /* sombra mais forte */
  transform: perspective(800px);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  
}

.container:hover {
  box-shadow:
    inset 0 2px 4px rgba(255, 255, 255, 0.8),
    0 30px 60px rgba(0, 0, 0, 0.45); /* aumenta sombra ao passar o mouse */
}

  .left-panel {
    width: 50%;
    background: linear-gradient(to bottom right, #242499, #191970);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
  }

  .left-panel h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .right-panel {
    width: 50%;
    background: #fff;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-panel .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 30px;
  }

  .buttons button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
  }
  
 .btn-login {
    background-color: #eee;
    color: #333;
  }

 form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px; /* ou outro valor desejado */
}


  form label {
    font-size: 12px;
    margin-top: 10px;
    color: #191970;
  }

  form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  form .termos {
    margin-top: 15px;
    font-size: 12px;
  }

  form .termos input {
    margin-right: 5px;
  }

  form .termos a {
    color: #191970;
    text-decoration: none;
  }

  form .submit-btn {
    margin-top: 20px;
    background: #191970;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  form .submit-btn:hover {
    background: #c13366;
  }

